<html>
<head>
    <style>
        div.css1 {
            width: 200px;
            height: 200px;
            border: 1px solid red;
        }

        div.css2 {
            width: 200px;
            min-height: 200px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div class="css1">
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
    </div>
    <br><br><br><br><br><br><br><br><br>
    <div class="css2">
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
        很长的文字很长的文字很长的文字很长的文字很长的文字很长的文字很
    </div>
</body>
</html>