@import "../../common/css/framework.css";

.c-nav .nav-items > li:hover > .sub-nav {
    display: block;
}

/* main styles */

.c-nav .nav-items > li {
    width: 120px;
    height: 30px;
    line-height: 30px;
    border: 1px solid;
    list-style-type: none;
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: center;
}

.c-nav .sub-nav {
    position: absolute;
    top: 0;
    left: 120px;
    display: none;
}

.nav-place-bottom > li > .sub-nav {
    top: 30px;
    left: 0;
}